@tailwind base;
@tailwind components;
@tailwind utilities;

/* Poppins Font Family */
@font-face {
    font-family: "Poppins";
    src: url("@/assets/fonts/Poppins-Black.ttf") format("truetype");
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: "Poppins";
    src: url("@/assets/fonts/Poppins-BlackItalic.ttf") format("truetype");
    font-weight: 900;
    font-style: italic;
}

@font-face {
    font-family: "Poppins";
    src: url("@/assets/fonts/Poppins-Bold.ttf") format("truetype");
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: "Poppins";
    src: url("@/assets/fonts/Poppins-BoldItalic.ttf") format("truetype");
    font-weight: 700;
    font-style: italic;
}

@font-face {
    font-family: "Poppins";
    src: url("@/assets/fonts/Poppins-ExtraBold.ttf") format("truetype");
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: "Poppins";
    src: url("@/assets/fonts/Poppins-ExtraBoldItalic.ttf") format("truetype");
    font-weight: 800;
    font-style: italic;
}

@font-face {
    font-family: "Poppins";
    src: url("@/assets/fonts/Poppins-ExtraLight.ttf") format("truetype");
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: "Poppins";
    src: url("@/assets/fonts/Poppins-ExtraLightItalic.ttf") format("truetype");
    font-weight: 200;
    font-style: italic;
}

@font-face {
    font-family: "Poppins";
    src: url("@/assets/fonts/Poppins-Italic.ttf") format("truetype");
    font-weight: 400;
    font-style: italic;
}

@font-face {
    font-family: "Poppins";
    src: url("@/assets/fonts/Poppins-Light.ttf") format("truetype");
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: "Poppins";
    src: url("@/assets/fonts/Poppins-LightItalic.ttf") format("truetype");
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: "Poppins";
    src: url("@/assets/fonts/Poppins-Medium.ttf") format("truetype");
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: "Poppins";
    src: url("@/assets/fonts/Poppins-MediumItalic.ttf") format("truetype");
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: "Poppins";
    src: url("@/assets/fonts/Poppins-Regular.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "Poppins";
    src: url("@/assets/fonts/Poppins-SemiBold.ttf") format("truetype");
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: "Poppins";
    src: url("@/assets/fonts/Poppins-SemiBoldItalic.ttf") format("truetype");
    font-weight: 600;
    font-style: italic;
}

@font-face {
    font-family: "Poppins";
    src: url("@/assets/fonts/Poppins-Thin.ttf") format("truetype");
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: "Poppins";
    src: url("@/assets/fonts/Poppins-ThinItalic.ttf") format("truetype");
    font-weight: 100;
    font-style: italic;
}

body {
    font-family: "Poppins", sans-serif;
    line-height: 1.6;
    color: #333;
}

body section:first-of-type {
    background: linear-gradient(
            0deg,
            rgba(6, 23, 46, 0.8),
            rgba(6, 23, 46, 0.8)
        ),
        url("@/assets/images/welcome-bg.jpg");

    @apply bg-cover bg-bottom bg-no-repeat bg-fixed;
}

.container_mouse {
    text-align: center;
    font-weight: 400;
    color: teal;
    text-transform: uppercase;
    padding-top: 2rem;
    cursor: pointer;
}

.container_mouse .mouse-btn {
    margin: 10px auto;
    width: 30px;
    height: 50px;
    border: 3px solid teal;
    border-radius: 30px;
    display: flex;
}

.container_mouse .mouse-btn .mouse-scroll {
    display: block;
    width: 15px;
    height: 15px;
    background: linear-gradient(170deg, white 5%, teal);
    border-radius: 50%;
    margin: auto;
    animation: scrolling 1s linear infinite;
}

@keyframes scrolling {
    0% {
        opacity: 0;
        transform: translateY(-15px);
    }

    100% {
        opacity: 1;
        transform: translateY(15px);
    }
}
